.site-heading{
    color: blue
}
.topnav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    display:flex;
}
.topnav-list a:active{
    color: chartreuse;
    background-color: aquamarine;
}
.topnav-list a:hover{
    color: red;
    background-color: cadetblue;
}
.topnav-list li{
    margin: auto;
    display: inline-block;
}
.sub-heading{
    color: cadetblue
}
#contact-us{
    color: green
}
.Simple-list{
    background-color: bisque;
    backface-visibility: visible;
    text-decoration-skip: objects;
}
.simple-list-item{
    animation-delay: 1000;
    animation-duration: 2000;
    color: darkblue;
}